<ion-content [fullscreen]="true">
  <div id="container">
    <div class="toolbar">
      <div class="options">
        <span class="left">
          <span class="id">
            <i class="fa fa-user"></i>{{welcome_id}}
          </span>
        </span>
        <span class="right">
          <span class="logout" 
            (click)="processLogout()">
            <i class="fa fa-sign-out"></i>Logout
          </span>
        </span>
      </div>
    </div>
    <img 
      class="logo"
      src="../assets/logo.jpg"
    />
    
    <ion-button
      class="let-btn-lg"
      routerLink="/take-test">
        <i class="fa fa-gears"></i>
        TAKE TEST
    </ion-button>

    <ion-button
      class="let-btn-lg"
      routerLink="/scores">
        <i class="fa fa-line-chart"></i>
        SCORES
    </ion-button>
  </div>
</ion-content>