ion-content{
    --ion-background-color:#3c005a;
}

.toolbar{
    display: block;
    width: 100%;
    height: 40px;
    background: #5c008a;
    color: #ffffff;
    padding: 10px 30px;
    margin: 20px 0;
    .container{
        width: 100%;
        .subject{
            display: inline-block;
        }
        .total-score{
            display: inline-block;
            margin: 0 27%;
        }
        .retake{
            display: inline-block;
        }
    }
}

.score-result{
    padding: 10px 30px;
    .list-result{
        display: block;
        background: #4f12a0;
        color: #ffffff;
        --border-radius: 0px;
        width: 100%;
        height: 410px;
        padding: 10px;
        font-size: 12px;
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style-type: none;
                ul{
                    padding: 0;
                    border-bottom: 1px solid #ffffff;
                    padding: 10px 0;
                    li{
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
}