<ion-content [fullscreen]="true">
  <div id="container">
    <div class="toolbar">
      <div class="options">
        <span class="left">
          <span class="home" 
            routerLink="/home">
            <i class="fa fa-home"></i>
          </span>
        </span>
        <span class="title">INSTRUCTIONS</span>
      </div>
    </div>

    <ion-img class="logo" src="../assets/logo.jpg"></ion-img>

    <div class="instructions-content">
      <ol>
          <li>Enter <strong>EID &amp; PIN</strong> and login account</li>
          <li>Click <strong>"TAKE EXAM"</strong> to start reviewing</li>
          <li>Select a <strong>SUBJECT</strong> to take</li>
          <li>Choose Difficulty <strong>LEVEL</strong></li>
          <li>Answer the <strong>QUESTIONS</strong> respectively</li>
      </ol>
  </div>
  </div>
</ion-content>