ion-content{
    --ion-background-color:#3c005a;
}

.toolbar{
    display: block;
    height: 40px;
    background: #5c008a;
    color: #ffffff;
    padding: 10px 5px;
    margin: 20px 0;
    .options{
        padding: 0 15px;
        .left{
            float: left;
            .id{
                font-size: 15px;
                margin: 0 5px;
                .fa-user{
                    margin: 0 10px 0 0;
                }
            }
        }
        .right{
            float: right;
            font-size: 13px;
            .logout{
                .fa-sign-out{
                    margin: 0 5px;
                }
            }
        }
    }
}

.logo{
    display: block;
    width: 40%;
    margin: 20% auto 15% auto;
}

.button.let-btn-lg{
    display: block;
    --border-radius:0px;
    --background: #3d107b;
    border: 3px solid #ffffff;
    width: 190px;
    margin: 0 auto 15px auto;
    height: 40px;
    .fa{
        margin: 0 10px 0 0;
    }
}