<ion-content [fullscreen]="true">
  <div id="container">
    <div class="toolbar">
      <div class="options">
        <span class="left">
          <div class="home" 
            routerLink="/home">
            <i class="fa fa-home"></i>
          </div>
          <span class="info" 
            routerLink="/about">
            <i class="fa fa-globe"></i>
          </span>
        </span>
        <span class="right">
          <span class="instructions" 
            routerLink="/instructions">
            <i class="fa fa-info-circle"></i>
          </span>
        </span>
      </div>
    </div>

    <img 
      class="logo" 
      src="../assets/logo.jpg" 
    />

    <ion-input 
      class="input-box examinee-id"
      placeholder="EID e.g. 2020030001"
      type="decimal"
      [(ngModel)]="examinee_id"
    ></ion-input>

    <ion-input 
      class="input-box examinee-pin"
      placeholder="Pin"
      type="password"
      [(ngModel)]="examinee_pin"
    ></ion-input>

    <div class="bottom">
      <ion-button 
        class="let-btn-sm"
        expand="block"
        (click)="examineeLogin()"
        [disabled]="disabledButton"
        ><i class="fa fa-sign-in"></i>LOGIN
      </ion-button>
    </div>
  </div>
</ion-content>