ion-content{
    --ion-background-color:#3c005a;
}

.toolbar{
    display: block;
    height: 40px;
    background: #5c008a;
    color: #ffffff;
    padding: 10px 5px;
    margin: 20px 0;
    .options{
        padding: 0 15px;
        .fa{
            font-size: 20px;
        }
        .left{
            float: left;
            .home{
                display: inline-block;
                margin: 0 10px;
            }
        }
        .right{
            float: right;
            .info{
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}

.logo{
    display: block;
    width: 50%;
    margin: 15% auto 20% auto;
}

.input-box{
    background: #ffffff;
    display: block;
    width: 40%;
    height: 30px;
    padding: 5px 10px!important;
    margin: 10px auto;
    font-size: 15px;
    color: #000000;
    text-align: left;
}

.bottom{
    margin: 10% auto 0 auto;
    .fa-sign-in{
        padding: 0 10px 0 0;
    }
    .let-btn-sm{
        display: block;
        --border-radius: 0px;
        border: 3px solid #ffffff;
        width: 90px;
        height: 35px;
        margin: 0 auto 10px auto;
        --background: #2a0161;
    }
}
