<ion-content [fullscreen]="true">
  <div id="container">
    <div class="toolbar">
      <div class="options">
        <span class="left">
          <span class="home" 
            routerLink="/home">
            <i class="fa fa-home"></i>
          </span>
        </span>
        <span class="title">ABOUT</span>
      </div>
    </div>

    <ion-img class="logo" src="../assets/logo.jpg"></ion-img>

    <div class="about-content">
      <p class="address">
          4th Floor Grace Hardware Building<br>
          Rizal Street Corner<br>
          Capistrano, Ozamiz City<br>
      </p>

      <p class="contact">
          (0917) 626 - 2725<br>
          slrcletipod@gmail.com<br>
      </p>

      <p class="incharge">
          <strong>Ma. Charittie P. Lagtapon</strong>,<br>
          MD, USRN, RN<br>
          SLRC Ozamiz Review Director<br>
      </p>
    </div>
  </div>
</ion-content>